
.modal-wrapper{
/* transition: all 0.3s linear; */
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
backdrop-filter: blur(12px);
transform: scale(0);
}
.open-modal{
  transition: all 0.3s linear;
  transform: scale(1);
}
.modal{
  position: absolute;
  width: 650px;
  padding: 20px;
  background-color: brown;
  right: 0;
  left: 0;
  margin: 150px auto;
  border-radius: 20px;
}
input{
  outline: none;
}